<% if logged_in? %>
    <script id="current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>
<script type="text/javascript">
  window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= window.googleAPIKey %>" charset="utf-8"></script>

<main id="root">NOT GOOD</main>