<% if logged_in? %>
    <script id="current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk5oNO48zijU0rCneylfj0VHQIA9PDIH8&callback" charset="utf-8"></script>
<style type="text/css">
    #map {
    width: 500px;
    height: 500px;
    };
</style>
<main id="root">NOT GOOD</main>