/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require splash
 *= require session_form
 *= require errors
 *= require dashboard
 *= require routes
 *= require new_routes
 *= require activities_form
 *= require activities_index
 *= require feed
 */

 body {
     margin: 0;
 }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
}

#map {
    width: 100%;
    height: 870px;
    position: relative;
}

#top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 100%;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    overflow: hidden;
    background-color: #F1F1F1;
    text-align: center;
}

#bottom-panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    height: 50px;
    width: 100%;
    padding: 20px 6px;
    margin: 20px;
    margin-right: 70px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    overflow: hidden;
    background-color: #F1F1F1;
    text-align: center;
    line-height: 50%;
}

#save-btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    background-color: #fc4c02;
    border: 0;
    cursor: pointer;
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ccccd1;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
}

#save-btn:hover{
    background-color: #f34902;
    filter: brightness(85%);
    transition: 0.3s;
}

.map-inputs {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map-display-container {
    position: relative;
    padding-top: 50px;
}
/* #map-display-container {
    height: 100vh;
} */