.dash-viewport {
    height: 100vh;
}

.routes-link a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #2d2d32;
}

.dash-nav-head div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 50%;
}

.dash-nav-head .routes-link a{
    margin-top: 25%;
}

.dash-nav-head div svg{
    margin-top: 100%;
}

.logout-btn {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #fc4c02;
    border: 0;
    cursor: pointer;
    padding: 9px 14px;
    border-radius: 4px;
}

.logout-btn:hover {
    background-color: #f34902;
    filter: brightness(85%);
    transition: 0.3s;
}

.dash-body {
    background-color: #f5f5fa;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.opc {
    filter: brightness(50%);
}

.feed-content {
    width: 640px;
    padding: 0px 16px;
    margin: 0;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}