.feedbox {
    margin-bottom: 12px;
    width: 640px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.feedbox img{
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.subFeedBox {
    height: 2000px;
    width: 100%;
}

.feed-item-container {
    background-color: #fff;
    height: 200px;
    width: 100%;
    margin: 20px 0;
}